*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

section{
    text-align: center;
    padding: 32px;
}

img{
    max-width: 100%;
    display: block;
}

body{
    background-color: beige;
}

.container{
    max-width: 600px;
    margin: 0 auto;
}

#wrapper{
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    
}

.card{
    background-color: white;
    flex-basis: calc(100% / 3 );
    margin-right:0;
    flex-shrink: 0;
}

.card:nth-child(3n){
    margin-right: 0;
}